# Assignment- Madhuri A

# Part A

In [501]:
%matplotlib inline
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd
import json
from sklearn.svm import SVC
from sklearn.cluster import KMeans 
from sklearn.metrics import silhouette_samples, silhouette_score
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score, confusion_matrix
%matplotlib inline

In [502]:
## 1. Data Understanding & Exploration:

In [503]:
#1. Import the necessary libraries and read the provided CSVs as a data frame and perform the below steps. [15 Marks]

In [504]:
#A. Merge all the provided CSVs into one dataFrame. [2 Marks]

In [505]:
phone_user_review_1_df = pd.read_csv('phone_user_review_file_1.csv',na_values = ' ',encoding='latin-1')
print(phone_user_review_1_df.shape)
phone_user_review_1_df.columns
phone_user_review_1_df.dtypes
phone_user_review_1_df.head(5)

(374910, 11)

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Verizon Wireless,verizonwireless.com,10.0,10.0,As a diehard Samsung fan who has had every Sam...,CarolAnn35,Samsung Galaxy S8
1,/cellphones/samsung-galaxy-s8/,4/28/2017,en,us,Phone Arena,phonearena.com,10.0,10.0,Love the phone. the phone is sleek and smooth ...,james0923,Samsung Galaxy S8
2,/cellphones/samsung-galaxy-s8/,5/4/2017,en,us,Amazon,amazon.com,6.0,10.0,Adequate feel. Nice heft. Processor's still sl...,R. Craig,"Samsung Galaxy S8 (64GB) G950U 5.8"" 4G LTE Unl..."
3,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Samsung,samsung.com,9.2,10.0,Never disappointed. One of the reasons I've be...,Buster2020,Samsung Galaxy S8 64GB (AT&T)
4,/cellphones/samsung-galaxy-s8/,5/11/2017,en,us,Verizon Wireless,verizonwireless.com,4.0,10.0,I've now found that i'm in a group of people t...,S Ate Mine,Samsung Galaxy S8

In [506]:
phone_user_review_2_df = pd.read_csv('phone_user_review_file_2.csv',na_values = ' ',encoding='latin-1')
print(phone_user_review_2_df.shape)
phone_user_review_2_df.columns
phone_user_review_2_df.dtypes
phone_user_review_2_df.head(5)

(114925, 11)

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/leagoo-lead-7/,4/15/2015,en,us,Amazon,amazon.com,2.0,10.0,"The telephone headset is of poor quality , not...",luis,Leagoo Lead7 5.0 Inch HD JDI LTPS Screen 3G Sm...
1,/cellphones/leagoo-lead-7/,5/23/2015,en,gb,Amazon,amazon.co.uk,10.0,10.0,This is my first smartphone so I have nothing ...,Mark Lavin,Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...
2,/cellphones/leagoo-lead-7/,4/27/2015,en,gb,Amazon,amazon.co.uk,8.0,10.0,Great phone. Battery life not great but seems ...,tracey,Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...
3,/cellphones/leagoo-lead-7/,4/22/2015,en,gb,Amazon,amazon.co.uk,10.0,10.0,Best 90 quid I've ever spent on a smart phone,Reuben Ingram,Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...
4,/cellphones/leagoo-lead-7/,4/18/2015,en,gb,Amazon,amazon.co.uk,10.0,10.0,I m happy with this phone.it s very good.thx team,viorel,Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...

In [507]:
phone_user_review_3_df = pd.read_csv('phone_user_review_file_3.csv',na_values = ' ',encoding='latin-1')
print(phone_user_review_3_df.shape)
phone_user_review_3_df.columns
phone_user_review_3_df.dtypes
phone_user_review_3_df.head(5)

(312961, 11)

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,11/7/2015,pt,br,Submarino,submarino.com.br,6.0,10.0,"recomendo, eu comprei um, a um ano, e agora co...",herlington tesch,Samsung Smartphone Samsung Galaxy S3 Slim G381...
1,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,10/2/2015,pt,br,Submarino,submarino.com.br,10.0,10.0,Comprei um pouco desconfiada do site e do celu...,Luisa Silva Marieta,Samsung Smartphone Samsung Galaxy S3 Slim G381...
2,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,9/2/2015,pt,br,Submarino,submarino.com.br,10.0,10.0,"Muito bom o produto, obvio que tem versÃµes me...",Cyrus,Samsung Smartphone Samsung Galaxy S3 Slim G381...
3,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,9/2/2015,pt,br,Submarino,submarino.com.br,8.0,10.0,Unica ressalva fica para a camera que poderia ...,Marcela Santa Clara Brito,Samsung Smartphone Samsung Galaxy S3 Slim G381...
4,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,9/1/2015,pt,br,Colombo,colombo.com.br,8.0,10.0,Rapidez e atenÃ§Ã£o na entrega. O aparelho Ã© ...,Claudine Maria Kuhn Walendorff,"Smartphone Samsung Galaxy S3 Slim, Dual Chip, ..."

In [508]:
phone_user_review_4_df = pd.read_csv('phone_user_review_file_4.csv',na_values = ' ',encoding='latin-1')
print(phone_user_review_4_df.shape)
phone_user_review_4_df.columns
phone_user_review_4_df.dtypes
phone_user_review_4_df.head(5)

(98284, 11)

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-s7262-duos-galaxy-ace/,3/11/2015,en,us,Amazon,amazon.com,2.0,10.0,was not conpatable with my phone as stated. I ...,Frances DeSimone,Samsung Galaxy Star Pro DUOS S7262 Unlocked Ce...
1,/cellphones/samsung-s7262-duos-galaxy-ace/,17/11/2015,en,in,Zopper,zopper.com,10.0,10.0,Decent Functions and Easy to Operate Pros:- Th...,Expert Review,Samsung Galaxy Star Pro S7262 Black
2,/cellphones/samsung-s7262-duos-galaxy-ace/,29/10/2015,en,in,Amazon,amazon.in,4.0,10.0,Not Good Phone such price. Hang too much and v...,Amazon Customer,Samsung Galaxy Star Pro GT-S7262 (Midnight Black)
3,/cellphones/samsung-s7262-duos-galaxy-ace/,29/10/2015,en,in,Amazon,amazon.in,6.0,10.0,not bad for features,Amazon Customer,Samsung Galaxy Star Pro GT-S7262 (Midnight Black)
4,/cellphones/samsung-s7262-duos-galaxy-ace/,29/10/2015,en,in,Amazon,amazon.in,10.0,10.0,Excellent product,NHK,Samsung Galaxy Star Pro GT-S7262 (Midnight Black)

In [509]:
phone_user_review_5_df = pd.read_csv('phone_user_review_file_5.csv',na_values = ' ',encoding='latin-1')
print(phone_user_review_5_df.shape)
phone_user_review_5_df.columns
phone_user_review_5_df.dtypes
phone_user_review_5_df.head(5)

(350216, 11)

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/karbonn-k1616/,7/13/2016,en,in,91 Mobiles,91mobiles.com,2.0,10.0,I bought 1 month before. currently speaker is ...,venkatesh,Karbonn K1616
1,/cellphones/karbonn-k1616/,7/13/2016,en,in,91 Mobiles,91mobiles.com,6.0,10.0,"I just bought one week back, I have Airtel con...",Venkat,Karbonn K1616
2,/cellphones/karbonn-k1616/,7/13/2016,en,in,91 Mobiles,91mobiles.com,4.0,10.0,one problem in this handset opera is not worki...,krrish,Karbonn K1616
3,/cellphones/karbonn-k1616/,4/25/2014,en,in,Naaptol,naaptol.com,10.0,10.0,here Karbonn comes up with an another excellen...,BRIJESH CHAUHAN,Karbonn K1616 - Black
4,/cellphones/karbonn-k1616/,4/23/2013,en,in,Naaptol,naaptol.com,10.0,10.0,"What a phone, all so on Naaptol my god 23% off...",Suraj CHAUHAN,Karbonn K1616 - Black

In [510]:
phone_user_review_6_df = pd.read_csv('phone_user_review_file_6.csv',na_values = ' ',encoding='latin-1')
print(phone_user_review_6_df.shape)
phone_user_review_6_df.columns
phone_user_review_6_df.dtypes
phone_user_review_6_df.head(5)

(163837, 11)

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-instinct-sph-m800/,9/16/2011,en,us,Phone Arena,phonearena.com,8.0,10.0,I've had the phone for awhile and it's a prett...,ajabrams95,Samsung Instinct HD
1,/cellphones/samsung-instinct-sph-m800/,2/13/2014,en,us,Amazon,amazon.com,6.0,10.0,to be clear it is not the sellers fault that t...,Stephanie,Samsung SPH M800 Instinct
2,/cellphones/samsung-instinct-sph-m800/,12/30/2011,en,us,Phone Scoop,phonescoop.com,9.0,10.0,Well i love this phone. i have had ton of phon...,snickers,Instinct M800
3,/cellphones/samsung-instinct-sph-m800/,10/18/2008,en,us,HandCellPhone,handcellphone.com,4.0,10.0,I have had my Instinct for several months now ...,A4C,Samsung Instinct
4,/cellphones/samsung-instinct-sph-m800/,9/6/2008,en,us,Reviewed.com,reviewed.com,6.0,10.0,i have had this instinct phone for about two m...,betaBgood,Samsung Instinct

In [511]:
# using a .concat() method
frames = [phone_user_review_1_df, phone_user_review_2_df,phone_user_review_3_df,phone_user_review_4_df,phone_user_review_5_df,phone_user_review_6_df]
 
consolidated_phone_review_df = pd.concat(frames)
consolidated_phone_review_df.shape

consolidated_phone_review_df["country"].unique

<bound method Series.unique of 0         us
1         us
2         us
3         us
4         us
          ..
163832    de
163833    de
163834    de
163835    de
163836    de
Name: country, Length: 1415133, dtype: object>

In [512]:
#B. Explore, understand the Data and share at least 2 observations. [2 Marks]

In [513]:
print("This consolidated CSV file contains phone reviews for mobiles from different websites like Amazon,HandCellPhone along with author details,score etc.")

This consolidated CSV file contains phone reviews for mobiles from different websites like Amazon,HandCellPhone along with author details,score etc.

In [514]:
print("Maximum score given to a mobile phone is 10.0. Single user/author has given rating to multiple products.")

Maximum score given to a mobile phone is 10.0. Single user/author has given rating to multiple products.

In [515]:
#C. Round off scores to the nearest integers. [3 Marks]

In [516]:
consolidated_phone_review_df.score = consolidated_phone_review_df.score.round()

In [517]:
#D. Check for missing values. Impute the missing values, if any. [2 Marks]

In [518]:
percent_feature_missing = consolidated_phone_review_df.isnull().sum() * 100 / len(consolidated_phone_review_df)
missing_data_value_df = pd.DataFrame({'column_name': consolidated_phone_review_df.columns,
                                 'percent_missing': percent_feature_missing})
missing_data_value_df

#print("No missing data")

          column_name  percent_missing
phone_url   phone_url         0.000000
date             date         0.000000
lang             lang         0.000000
country       country         0.000000
source         source         0.000000
domain         domain         0.000000
score           score         4.486433
score_max   score_max         4.486433
extract       extract         1.368140
author         author         4.466153
product       product         0.000071

In [519]:
#Percentage of missing value is maximum 4.486%, for score we are imputing with 0.
consolidated_phone_review_df['score'].fillna(0,inplace=True)
consolidated_phone_review_df['score_max'].fillna(10.0,inplace=True)
#other columns dropping the rows
consolidated_phone_review_df.dropna(inplace=True)

In [520]:
consolidated_phone_review_df.isnull().sum()

phone_url    0
date         0
lang         0
country      0
source       0
domain       0
score        0
score_max    0
extract      0
author       0
product      0
dtype: int64

In [521]:
#E. Check for duplicate values and remove them, if any. [2 Marks]

In [522]:

has_duplicates= consolidated_phone_review_df.duplicated()

if True in has_duplicates.values:
    print('Duplicate exists in Dataframe')
else:
    print('No Duplicate exists in Dataframe')

Duplicate exists in Dataframe

In [523]:
consolidated_phone_review_df.drop_duplicates(inplace=True)

In [524]:
consolidated_phone_review_df.shape

(1331593, 11)

In [525]:
#F. Keep only 1 Million data samples. Use random state=612. [2 Marks]

In [526]:
df_sampled_phone_reviews = consolidated_phone_review_df.sample(n=1000000,random_state=612)

In [527]:
#G. Drop irrelevant features. Keep features like Author, Product, and Score. [2 Marks]

In [528]:
df_sampled_phone_reviews.columns

Index(['phone_url', 'date', 'lang', 'country', 'source', 'domain', 'score',
       'score_max', 'extract', 'author', 'product'],
      dtype='object')

In [529]:
df_sampled_phone_reviews.drop(['phone_url', 'date','lang','country','domain','source','score_max','extract'], axis = 1,inplace=True)

###2. Answer the following questions.

In [530]:
#A. Identify the most rated products. [3 Marks]

In [531]:
#Computes the most popular items
phone_popularity_df = df_sampled_phone_reviews.groupby('product')['score'].sum().sort_values(ascending=False).reset_index()
phone_popularity_df.head(10)

                                        product    score
0              Lenovo Vibe K4 Note (White,16GB)  28010.0
1                   OnePlus 3 (Graphite, 64 GB)  27176.0
2             Lenovo Vibe K4 Note (Black, 16GB)  23138.0
3                  OnePlus 3 (Soft Gold, 64 GB)  22474.0
4                   Huawei P8lite zwart / 16 GB  16881.0
5               Samsung Galaxy S6 zwart / 32 GB  15546.0
6           Lenovo Vibe K5 (Gold, VoLTE update)  12746.0
7         Samsung Galaxy S7 edge 32GB (Verizon)  12610.0
8                       Samsung Galaxy J3 (8GB)  12414.0
9  OnePlus 3T (Gunmetal, 6GB RAM + 64GB memory)  12172.0

In [532]:
#B. Identify the users with most number of reviews. [3 Marks]

In [533]:
#Computes the most popular items
frequent_user_df = df_sampled_phone_reviews.groupby('author')['score'].sum().sort_values(ascending=False).reset_index()
frequent_user_df.head(10)

            author     score
0  Amazon Customer  408184.0
1   Cliente Amazon  117194.0
2            e-bit   55556.0
3  Client d'Amazon   41508.0
4     Amazon Kunde   26170.0
5     einer Kundin   18452.0
6        Anonymous   14945.0
7     einem Kunden   13560.0
8          unknown   11199.0
9       Anonymous    10181.0

In [534]:
#C. Select the data with products having more than 50 ratings and users who have given more than 50 ratings. Report the shape of the final
#dataset. [4 Marks]

In [535]:
#retrieving products having more than 50 ratings
filter_products= df_sampled_phone_reviews['product'].value_counts() > 50
filter_products = filter_products[filter_products].index.tolist()

In [536]:
#users who have given more than 50 ratings
filter_authors = df_sampled_phone_reviews['author'].value_counts() > 50
filter_authors = filter_authors[filter_authors].index.tolist()

In [537]:
df_final_reviews = df_sampled_phone_reviews[(df_sampled_phone_reviews['product'].isin(filter_products)) & (df_sampled_phone_reviews['author'].isin(filter_authors))]

In [538]:
df_final_reviews.shape

(109237, 3)

In [539]:
#3. Build a popularity based model and recommend top 5 mobile phones. [5 Marks]

In [540]:
#pip install scikit-surprise==1.0.4

In [541]:
train_data, test_data = train_test_split(df_final_reviews, test_size = 0.3, random_state=0)
train_data.head()

,score,author,product
175196,8.0,paolo,"Huawei P8 Lite Smartphone, Display 5"" IPS, Pro..."
253517,10.0,Amazon Customer,Asus ZenFone 3 Laser 5.5-inch Glacier Silver [...
36233,9.0,Karen,"Samsung Galaxy S7 goud, roze / 32 GB"
270189,10.0,Cliente Amazon,"Nokia Lumia 735 Smartphone, 8 GB, Grigio [Italia]"
50307,10.0,Amazon Customer,"Lenovo Vibe K4 Note (White,16GB)"

In [542]:
train_data.shape
test_data.shape

(32772, 3)

In [543]:
#Count of user_id for each unique product as recommendation score 
train_data_grouped = train_data.groupby('product').agg({'author': 'count'}).reset_index()
train_data_grouped.rename(columns = {'author': 'score'},inplace=True)
train_data_grouped.head()

                                             product  score
0                                               3220      1
1  5.5-Inch Unlocked Lenovo A850 3G Smartphone-(9...      4
2  AICEK Coque ASUS ZenFone 2 ZE550ML/ZE551ML, AI...     18
3  AICEK Coque ASUS ZenFone 3 ZE520KL, AICEK Etui...     11
4  AICEK Coque Samsung Galaxy A3 2016, AICEK Etui...     49

In [544]:
#Sort the products on recommendation score 
train_data_sort = train_data_grouped.sort_values(['score', 'product'], ascending = [0,1]) 
      
#Generate a recommendation rank based upon score 
train_data_sort['Rank'] = train_data_sort['score'].rank(ascending=0, method='first') 
          
#Getting the top 5 recommendations for items
popularity_recommendations = train_data_sort.head(5) 
popularity_recommendations

                                  product  score  Rank
1491     Lenovo Vibe K4 Note (White,16GB)   1640   1.0
1490    Lenovo Vibe K4 Note (Black, 16GB)   1337   2.0
2324          OnePlus 3 (Graphite, 64 GB)   1014   3.0
2325         OnePlus 3 (Soft Gold, 64 GB)    920   4.0
1492  Lenovo Vibe K5 (Gold, VoLTE update)    832   5.0

In [545]:
##4. Build a collaborative filtering model using SVD. You can use SVD from surprise or build it from scratch(Note: Incase you’re building it from scratch you
#can limit your data points to 5000 samples if you face memory issues). Build a collaborative filtering model using kNNWithMeans from surprise. You
#can try both user-based and item-based model. [10 Marks]

In [546]:
#SVD Based Recommendation System- from surprise
from surprise import Dataset,Reader
from surprise import SVD, KNNWithMeans
from surprise import accuracy

#reducing the sameple size for memory issues.
df_final_reviews_small= df_final_reviews.sample(n=5000,random_state=12)

reader = Reader(rating_scale=(1, 10))
data = Dataset.load_from_df(df_final_reviews_small[['author', 'product', 'score']], reader)

In [547]:
# Split data to train and test
from surprise.model_selection import train_test_split
trainset, testset = train_test_split(data, test_size=.25,random_state=123)

In [548]:
trainset.all_ratings()

In [549]:
# raw ids can be obatined as follows
print(trainset.to_raw_uid(0))

Petra

In [550]:
#creating SVD model
svd_model = SVD(n_factors=5,biased=False)
svd_model.fit(trainset)

In [551]:
test_pred = svd_model.test(testset)

In [552]:
#printing a test set user
testset[2]

('Amazon Customer', 'LG Nexus 5X LG-H791 (16GB, Ice Blue)', 8.0)

In [553]:
## with KNNwithmeans algorithm in surprise

In [554]:
#item based Collaborative Filtering
from surprise import KNNWithMeans
from surprise import accuracy

algo_i = KNNWithMeans(k=10, sim_options={ 'user_based': False})

algo_i.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [555]:
test_pred_item_knn=algo_i.test(testset)
print(accuracy.rmse(test_pred_item_knn))

RMSE: 3.3288
3.3288122584367636

In [556]:
#user based Collaborative Filtering

from surprise import KNNWithMeans
from surprise import accuracy

algo_i_user = KNNWithMeans(k=10, sim_options={ 'user_based': True})

algo_i_user.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [557]:
test_pred_user_knn=algo_i_user.test(testset)
print(accuracy.rmse(test_pred_user_knn))

RMSE: 3.3297
3.3296750753236646

In [558]:
#5. Evaluate the collaborative model. Print RMSE value. [2 Marks]

In [559]:
# compute RMSE
accuracy.rmse(test_pred)

RMSE: 4.3673

4.367306111923836

In [560]:
# compute RMSE
accuracy.rmse(test_pred_item_knn)

RMSE: 3.3288

3.3288122584367636

In [561]:
# compute RMSE
accuracy.rmse(test_pred_user_knn)

RMSE: 3.3297

3.3296750753236646

In [562]:
#6. Predict score (average rating) for test users. [2 Marks]

In [563]:
test_pred = svd_model.test(testset)
test_pd= pd.DataFrame(test_pred)
test_pd.columns
#printing avg rating
test_pd.r_ui.mean()

7.4168

In [564]:
#7. Report your findings and inferences. [2 Marks]

In [565]:
print("RMSE improved with KNNWithMeans algorithm on test data from 4.3 to 3.3 value for user based recommendations.")

RMSE improved with KNNWithMeans algorithm on test data from 4.3 to 3.3 value for user based recommendations.

In [566]:
print("Using surprise library has helped in running SVD over the given data and calculating required matrix factorizations.")

Using surprise library has helped in running SVD over the given data and calculating required matrix factorizations.

In [567]:
#8. Try and recommend top 5 products for test users. [5 Marks]

In [568]:
# A test user -- e-bit
pred = pd.DataFrame(test_pred)
pred[pred['uid'] == 'e-bit'][['iid', 'r_ui','est']].sort_values(by = 'r_ui',ascending = False).head(5)

                                             iid  r_ui       est
607    Smartphone Samsung Galaxy Note 4 SM-N910C  10.0  7.577600
338        Smartphone Samsung Galaxy J2 SM-J200M  10.0  8.310857
777                        Smartphone LG G3 D855  10.0  8.988600
775  Smartphone Samsung Galaxy J7 Prime SM-G610M  10.0  9.906750
772         Smartphone Samsung Galaxy S5 SM-G900  10.0  8.635252

In [569]:
#9. Try other techniques (Example: cross validation) to get better results. [3 Marks]

In [570]:

from surprise.model_selection import cross_validate
#no of folds=6
cross_validate(algo_i, data, measures=['RMSE', 'MAE'], cv=6, verbose=True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithMeans on 6 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Mean    Std
RMSE (testset)    3.1610  3.3959  3.1911  3.2614  3.2746  3.2697  3.2589  0.0745
MAE (testset)     2.3870  2.6070  2.4936  2.4427  2.4922  2.5117  2.4890  0.0671
Fit time          0.21    0.27    0.20    0.26    0.28    0.17    0.23    0.04
Test time         0.33    0.37    0.33    0.27    0.31    0.27    0.31    0.04

{'test_rmse': array([3.1610252 , 3.39592379, 3.19107592, 3.26137243, 3.27458798,
        3.26967948]),
 'test_mae': array([2.38698618, 2.60695428, 2.49359001, 2.44268096, 2.49220887,
        2.51165955]),
 'fit_time': (0.21282482147216797,
  0.27440476417541504,
  0.2009878158569336,
  0.25592803955078125,
  0.27684903144836426,
  0.1740710735321045),
 'test_time': (0.33095407485961914,
  0.36559104919433594,
  0.33069586753845215,
  0.26877880096435547,
  0.30536699295043945,
  0.2651357650756836)}

In [571]:
#10. In what business scenario you should use popularity based Recommendation Systems ? [2 Marks]

In [572]:
print("Popularity based recommendation system identifies most popular items from avaliable list of items.")
print("It uses these items which are best selling and recommends them to new/existing users.")
print("We do not need to maintain separate user profiles to make recommendations. ")
print("No cold start problem i.e new user recommendations can be managed.")
print("These recommendations suits well for items that can be generally recommended to all users. No personalization.")
print("Eg: Best Detergent powder,Best selling book of year etc")

Popularity based recommendation system identifies most popular items from avaliable list of items.
It uses these items which are best selling and recommends them to new/existing users.
We do not need to maintain separate user profiles to make recommendations.
No cold start problem i.e new user recommendations can be managed.
These recommendations suits well for items that can be generally recommended to all users. No personalization.
Eg: Best Detergent powder,Best selling book of year etc

In [573]:
#11. In what business scenario you should use CF based Recommendation Systems ? [2 Marks]

In [574]:
print("With many customers coming in and leaving in ecommerce websites, online ecommerce platforms like Amazon,Flipkart etc use collaborative filter based recommendation systems.")
print("In Collaborative Filtering,there are no item features maintained for making recommendations.Here similar users get similar recommendations.")
print("Here we identify the users and put them in similar groups, and recommend each user accordingly to similarity/preferences identifed within the group.")

With many customers coming in and leaving in ecommerce websites, online ecommerce platforms like Amazon,Flipkart etc use collaborative filter based recommendation systems.
In Collaborative Filtering,there are no item features maintained for making recommendations.Here similar users get similar recommendations.
Here we identify the users and put them in similar groups, and recommend each user accordingly to similarity/preferences identifed within the group.

In [575]:
#12. What other possible methods can you think of which can further improve the recommendation for different users ? [2 Marks]

In [576]:
print("\n")
print("1. Demographic based Recommender system")
print("This system gives preferences to products and users using demographic attributes for making recommendations.")
print("In this recommender system a proper market research in the specified region is taken up and then a short survey to gather data for categorization.")
print("Attributes like Location,Local staples, Language spoken,Mother tongue etc are used to characterise the users and their preferences.")

print("\n")
print("2.Utility based recommendation system")
print("Utility-based recommender systems build multi-attribute utility function of users and  recommend the highest utility item for user.")
print("It calculates user utility for an item.") 
print("Best performing items are maintained and recommended to the user base.")

1. Demographic based Recommender system
This system gives preferences to products and users using demographic attributes for making recommendations.
In this recommender system a proper market research in the specified region is taken up and then a short survey to gather data for categorization.
Attributes like Location,Local staples, Language spoken,Mother tongue etc are used to characterise the users and their preferences.


2.Utility based recommendation system
Utility-based recommender systems build multi-attribute utility function of users and  recommend the highest utility item for user.
It calculates user utility for an item.
Best performing items are maintained and recommended to the user base.